* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
    --primary:#f9fafb;
    --pink:#e51844;
    --gold:#ecc801;
    --ptext:#374151;
}
body {
  background: #f9fafb;
}

/* NAVBAR */
nav {
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--pink);
}

.logo span {
  color: var(--gold);
  font-size: 32px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--gold);
}


.search-box {
  display: flex;
  align-items: center;
  background: #f3f4f6;
  padding: 8px 12px;
  border-radius: 8px;
  width: 280px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.search-box i {
  color: #6b7280;
}


.nav-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  color: var(--pink);
}

.icon:hover {
  color: var(--ptext);
}

.count {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #f59e0b;
  color: #fff;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}


.login-btn {
  background: var(--gold);
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}

.login-btn:hover {
  background:#f5d72d;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .nav-links {
    display: none;
  }

  .search-box {
    display: none;
  }
}
